<section id="about-us" class="about-us"> <!-- Cambio las clases de about-us -->
        <h2 class="about-us__title">Quiénes somos</h2>
        <div class="wrap">
        <article class="about-us__member">
            <img class="about-us__member-photo photo1" src="./assets/images/FOTO BRENDA ACTUALIZADA.jpg" alt="Foto Brenda">
            <div class="member1">
                <h3 class="about-us__member-name">Brenda Sánchez</h3>
                <p class="about-us__member-text member1__text">
                    Profesional de Turismo y Marketing Digital. Realicé un Grado en Turismo y un
                    Máster en Dirección de Marketing Digital & Social Media.
                    He trabajado en varios hoteles como recepcionista y responsable de marketing y en varias
                    agencias de viajes y tour operadores como agente de viajes y producto.
                    También he sido formadora de hoteles en varios departamentos y he trabajado en una agencia de
                    comunicación como Social Media & Community Manager.
                    Mi gran pasión es viajar, conocer diferentes culturas y las redes sociales. Una de mis metas es
                    llegar a ser programadora. Creo que la combinación de programación con mis estudios de marketing
                    digital pueden abrirme muchas puertas para poder crecer profesionalmente en el sector
                    tecnológico.</p>
                <ul class="social-nav">
                    <li><a class="social-nav__link" href="https://www.linkedin.com/in/brendasanlop/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li>·<a class="social-nav__link" href="https://github.com/brendasanlop" target="_blank"><i class="fa-brands fa-github-alt social-nav__icon"></i></a></li>
                    <li>·<a class="social-nav__link" href="mailto:brendacapri25@gmail.com" target="_blank"><i class="fa-solid fa-envelope social-nav__icon"></i></a></li>
                </ul>
            </div>
        </article>
        <article class="about-us__member member2">
            <img class="about-us__member-photo" src="./assets/images/foto-gema.jpg" alt="Foto Gema">
            <div class="member2__div">
                <h3 class="about-us__member-name">Gema Mesas</h3>
                <p class="about-us__member-text member2__div--text">En febrero de 2022 he iniciado mi carrera como Desarrolladora Frontend en el
                    bootcamp de programación de Adalab. Desde pequeña siempre me han gustado los ordenadores y la
                    tecnología y he cacharreado con todo, aunque nunca me hubiera imaginado que acabaría pudiendo
                    trabajar en algo relacionado con ello. ¡Mis motivaciones son aprender al máximo y poder
                    desarrollar mi creatividad! Tengo muchas ganas de avanzar y enfrentarme a nuevos retos.</p>
                <ul class="social-nav">
                    <li><a class="social-nav__link" href="https://www.linkedin.com/mwlite/in/gema-mesas-vel%C3%A1zquez-80a06b180" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li>·<a class="social-nav__link" href="https://github.com/GemaMesasV" target="_blank"><i class="fa-brands fa-github-alt social-nav__icon"></i></a></li>
                    <li>·<a class="social-nav__link" href="mailto:gema.Mesas.v@gmail.com" target="_blank"><i class="fa-solid fa-envelope social-nav__icon"></i></a></li>
                </ul>
            </div>
        </article>
        <article class="about-us__member">
            <img class="about-us__member-photo" src="./assets/images/foto-noelia.jpg" alt="Foto de Noelia">
            <div class="member1">
                <h3 class="about-us__member-name">Noelia Romero</h3>
                <p class="about-us__member-text member1__text">Siempre me ha gustado aplicar la tecnología a mi trabajo, por lo que estaba
                    buscado una nueva metodología que me permitiese conocer en profundidad este campo. Por ello,
                    decidí empezar esta nueva aventura como Desarrolladora Front-End, con muchísima motivación e
                    ilusión de reinventar mi vida profesional. ¡Nunca he tenido miedo de empezar de cero! </p>
                <ul class="social-nav">
                    <li><a class="social-nav__link" href="https://www.linkedin.com/in/noeliaromerogarcia/"target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li>·<a class="social-nav__link" href="https://github.com/romerogarcia"target="_blank"><i class="fa-brands fa-github-alt social-nav__icon"></i></a></li>
                    <li>·<a class="social-nav__link" href="mailto:noeliaromga@gmail.com"target="_blank"><i class="fa-solid fa-envelope social-nav__icon"></i></a></li>
                </ul>
            </div>

        </article>

        <article class="about-us__member member2">
            <img class="about-us__member-photo" src="./assets/images/foto-tania.jpg" alt="Foto de Tania">
            <div class="member2__div">
                <h3 class="about-us__member-name">Tania Fernández</h3>
                <p class="about-us__member-text member2__div--text">Partiendo desde el mundo de la fotografía y habiendo hecho mis pinitos en la
                    animación tradicional, una mezcla entre curiosidad y necesidad de mejorar mi futuro laboral han
                    ido acercándome de salto en salto al campo tecnológico, donde a partir de ahora espero crecer
                    cada día como futura programadora.</p>
                <ul class="social-nav">
                    <li><a class="social-nav__link" href="https://www.linkedin.com/in/tania-fern%C3%A1ndez-de-soto-esteban-8b232a232/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li>·<a class="social-nav__link" href="https://github.com/tanferest" target="_blank"><i class="fa-brands fa-github-alt social-nav__icon"></i></a>
                    </li>
                    <li>·<a class="social-nav__link" href="mailto:tanferest@gmail.com" target="_blank"><i class="fa-solid fa-envelope social-nav__icon"></i></a></li>
                </ul>
            </div>
        </article>
    </div>
</section>