<main>
    <span class="lema">
        <p>Un gran código conlleva una gran responsabilidad.</p>
    </span>


    <section id="team" class="team"> <!-- Cambio las clases de team-->
        <div class="wrap">

            <article>
                <h2 class="team__title">Equipo</h2> <!-- clases cambiadas-->
                <p class="team__p_class">El equipo está compuesto por 4 miembros: Tania, Gema, Noelia y Brenda.
                    Somos un equipo multidisciplinar constituido por profesionales de magisterio, fotografía,
                    turismo, marketing digital y desarrollo social.
                    Somos un equipo con cualidades muy diferentes pero es lo que hace que formemos el tandem
                    perfecto.
                    Tenemos intereses comunes como los videojuegos, ir a caminar, la naturaleza y nos encantan las
                    mascotas.
                    Además, tenemos una meta común que es llegar a convertirnos en programadoras y tener la
                    oportunidad de introducirnos en el sector tecnológico y poder desarrollarnos y crecer
                    profesionalmente en él.</p>
            </article>
        </div>

        <article class="grey-background">

            <!-- CUBE -->
            <div class="diamond-container"> 
                <div class="diamond-container__diamond"> <!-- Cambio de clase-->

                </div>
            </div>
            <!-- END OF CUBE -->

            <div class="wrap">
                <h3 class="sub-title">Fortalezas</h3>
                <p class="p-class">La principal fortaleza de nuestro equipo es que somos todas muy empáticas y
                    siempre tratamos de ponernos en el lugar de las demás.
                    Somos personas muy flexibles, colaborativas, tenemos dotes comunicativos y somos capaces de
                    asumir responsabilidades.
                    El éxito de nuestro equipo es que todas siempre intentamos involucrarnos en la toma de
                    decisiones. </p>
                <h3 class="sub-title">Debilidades</h3>
                <p class="p-class">Nuestra gran debilidad es la ausencia de confianza ya que todas estamos
                    trabajando en un entorno totalmente desconocido para nosotras.
                    A veces, somos lentas en la toma de decisiones debido a nuestro actual desconocimiento en el
                    mundo de la programación.
                    Además, las cuatro integrantes somos perfeccionistas y en ocasiones nos frustramos cuando no
                    sale todo tan perfecto como queremos. </p>
            </div>

        </article>
    </section>

    <section id="about-us" class="about-us">
        <div class="wrap">
            <h2 class="about-us-title team-title">Quiénes somos</h2>
            <article class="team-members">
                <img class="team-photo" src="./assets/images/FOTO BRENDA ACTUALIZADA.jpg" alt="Foto Brenda">
                <h3 class="names-members">Brenda Sánchez</h3>
                <p class="p-class">Profesional de Turismo y Marketing Digital. Realicé un Grado en Turismo y un
                    Máster en Dirección de Marketing Digital & Social Media.
                    He trabajado en varios hoteles como recepcionista y responsable de marketing y en varias
                    agencias de viajes y tour operadores como agente de viajes y producto.
                    También he sido formadora de hoteles en varios departamentos y he trabajado en una agencia de
                    comunicación como Social Media & Community Manager.
                    Mi gran pasión es viajar, conocer diferentes culturas y las redes sociales. Una de mis metas es
                    llegar a ser programadora. Creo que la combinación de programación con mis estudios de marketing
                    digital pueden abrirme muchas puertas para poder crecer profesionalmente en el sector
                    tecnológico.</p>
                <ul class="social-nav">
                    <li><a class="social-nav-link" href="https://www.linkedin.com/in/brendasanlop/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li>·<a class="social-nav-link" href="https://github.com/brendasanlop" target="_blank"><i class="fa-brands fa-github-alt social-icon"></i></a></li>
                    <li>·<a class="social-nav-link" href="mailto:brendacapri25@gmail.com" target="_blank"><i class="fa-solid fa-envelope social-icon"></i></a></li>
                </ul>
            </article>
            <article class="team-members">
                <img class="team-photo" src="./assets/images/foto-gema.jpg" alt="Foto Gema">
                <h3 class="names-members">Gema Mesas</h3>
                <p class="p-class">En febrero de 2022 he iniciado mi carrera como Desarrolladora Frontend en el
                    bootcamp de programación de Adalab. Desde pequeña siempre me han gustado los ordenadores y la
                    tecnología y he cacharreado con todo, aunque nunca me hubiera imaginado que acabaría pudiendo
                    trabajar en algo relacionado con ello. ¡Mis motivaciones son aprender al máximo y poder
                    desarrollar mi creatividad! Tengo muchas ganas de avanzar y enfrentarme a nuevos retos.</p>
                <ul class="social-nav">
                    <li><a class="social-nav-link" href="https://www.linkedin.com/mwlite/in/gema-mesas-vel%C3%A1zquez-80a06b180" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li>·<a class="social-nav-link" href="https://github.com/GemaMesasV" target="_blank"><i class="fa-brands fa-github-alt social-icon"></i></a></li>
                    <li>·<a class="social-nav-link" href="mailto:gema.Mesas.v@gmail.com" target="_blank"><i class="fa-solid fa-envelope social-icon"></i></a></li>
                </ul>
            </article>
            <article class="team-members">
                <img class="team-photo" src="./assets/images/foto-noelia.jpg" alt="Foto de Noelia">
                <h3 class="names-members">Noelia Romero</h3>
                <p class="p-class">Siempre me ha gustado aplicar la tecnología a mi trabajo, por lo que estaba
                    buscado una nueva metodología que me permitiese conocer en profundidad este campo. Por ello,
                    decidí empezar esta nueva aventura como Desarrolladora Front-End, con muchísima motivación e
                    ilusión de reinventar mi vida profesional. ¡Nunca he tenido miedo de empezar de cero! </p>
                <ul class="social-nav">
                    <li><a class="social-nav-link" href="https://www.linkedin.com/in/noeliaromerogarcia/"target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li>·<a class="social-nav-link" href="https://github.com/romerogarcia"target="_blank"><i class="fa-brands fa-github-alt social-icon"></i></a></li>
                    <li>·<a class="social-nav-link" href="mailto:noeliaromga@gmail.com"target="_blank"><i class="fa-solid fa-envelope social-icon"></i></a></li>
                </ul>

            </article>

            <article class="team-members">
                <img class="team-photo" src="./assets/images/foto-tania.jpg" alt="Foto de Tania">
                <h3 class="names-members">Tania Fernández</h3>
                <p class="p-class">Partiendo desde el mundo de la fotografía y habiendo hecho mis pinitos en la
                    animación tradicional, una mezcla entre curiosidad y necesidad de mejorar mi futuro laboral han
                    ido acercándome de salto en salto al campo tecnológico, donde a partir de ahora espero crecer
                    cada día como futura programadora.</p>
                <ul class="social-nav">
                    <li><a class="social-nav-link" href="https://www.linkedin.com/in/tania-fern%C3%A1ndez-de-soto-esteban-8b232a232/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li>·<a class="social-nav-link" href="https://github.com/tanferest" target="_blank"><i class="fa-brands fa-github-alt social-icon"></i></a>
                    </li>
                    <li>·<a class="social-nav-link" href="mailto:tanferest@gmail.com" target="_blank"><i class="fa-solid fa-envelope social-icon"></i></a></li>
                </ul>
            </article>
        </div>
    </section>
</main>