$blue-green: #099d8d;
$black: #000000;
$cool-grey: rgba(184, 184, 185, 0.205);
$aqua: #14d9c4;
$color-text: #54585a;
//Parte Brenda//
$textHeader: #ffffff;
$fontText: "Rubik", sans-serif;
$headerImage: url(../images/header-img.jpg);
