$mainColor: #345699;
$black: #000000;
$cool-grey: rgba(184, 184, 185, 0.205);
$lightMain: #528BFF;
$color-text: #54585a;
$secondColor: #EBC56F;
//Parte Brenda//
$textHeader: #ffffff;
$fontText: "Rubik", sans-serif;
