.header_contact {
  background-image: url(../images/contact_1.jpg);
  background-position: center;
  background-size: cover;
  @media all and (min-width:768px) {
    background-image: url(../images/contact_2.jpg);
  }
  @media all and (min-width: 1200px) {
    background-image: url(../images/contact_3.jpg);
  }
}

.contact {
  &__title {
    color: $mainColor;
    text-align: center;
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 30px 15px;
  }

  &__description {
    color: $color-text;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  &__warning {
    font-size: 12px;
    color: $color-text;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;

    &-star {
      color: $lightMain;
    }
  }
  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    color: $color-text;
    line-height: 1.5;

    &-box {
      width: 100%;
      margin-top: 3.5px;
      margin-bottom: 3.5px;
      height: 45px;
      border: 1px solid #b8b8b9;
      padding: 10px;
      font-family: $fontText;
    }
    &-bigbox {
      width: 100%;
      margin-top: 3.5px;
      margin-bottom: 3.5px;
      height: 105px;
      padding: 10px;
      border: 1px solid #b8b8b9;
      font-family: $fontText;
    }
  }
  &__button {
    background-color: $mainColor;
    font-family: $fontText;
    color: $textHeader;
    height: 45px;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    appearance: none;
    width: 100%;
    margin-top: 30px;
    transition: background-color 0.5s;
    @media all and (min-width: 768px) {
      width: 206px;
    }
    @media all and (min-width: 1200px) {
      width: 278px;
    }
    &:hover {
      background-color: $secondColor;
    }
  }
  &__wrap {
    width: 90%;
    margin: 0 auto;
    @media all and (min-width: 768px) {
      width: 442px;
    }
    @media all and (min-width: 1200px) {
      width: 600px;
    }
  }
}

.contact__input-box::placeholder {
  color: rgba(184, 184, 185, 0.776);
}

.contact__input-bigbox::placeholder {
  color: rgba(184, 184, 185, 0.776);
}

.button__container {
  @media all and (min-width: 768px){
  display: flex;
  justify-content: flex-end;
  }
}

.mail_tel {
  @media all and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.mail {
  @media all and (min-width: 1200px) {
    width: 395px;
  }
}

.tel {
  @media all and (min-width: 1200px) {
    width: 160px;
  }
}