.header {
  height: 421px;
  font-family: $fontText;
  color: $textHeader;
  overflow: hidden;
  background-image: $headerImage;
  background-size: cover;
  background-position-y: 25%;

  &__name-group {
    background-color: $blue-green;
    height: 60px;
    font-size: 16px;
    line-height: 30px;
    padding: 20px 60px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    opacity: 0.95;
    z-index: 1;
  }
}

.menu-nav {
  background-color: $aqua;
  opacity: 0.9;

  .list-nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
  }
}

.item-nav {
  a {
    text-decoration: none;
    color: $textHeader;
    text-transform: uppercase;
    font-family: $fontText;
    font-size: 15px;
    font-weight: 500;
  }
}

/*Aqui empiezan las media queries */

@media all and (min-width: 768px) {
  .header {
    width: 100%;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $blue-green;
    align-items: center;
  }
  .menu-nav {
    background-color: $blue-green;
    opacity: 0.9;
    margin-right: 45px;

    .list-nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 45px;
    }
    .item-nav {
      padding: 0 9px;
    }
  }
}

@media all and (min-width: 1200px) {
  .menu-nav {
    margin-right: 138px;
  }
  .header__name-group {
    margin-left: 78px;
  }
}
