.lema {
  position: absolute;
  height: 80px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  transform: translateY(-50%);
  background-color: #ffffff;
  margin: 0 15px;
  padding: 5px;
}

@import "layout/_main-team";
