  .about-us__title {
    color: $blue-green;
  }
  
  .about-us {
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__member {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-photo {
        width: 180px;
        height: 180px;
        border: solid 5px $cool-grey;
        border-radius: 4px;
      }
      
      &-name {
        font-size: 20px;
        text-align: center;
        line-height: 45px;
      }

      &-text {
        color: $color-text;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 30px;
      }

    }

  }
  
  .social-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 124px;
    margin-bottom: 45px;
    color: $blue-green;

    &__icon {
      margin-left: 20px;
    }
    
    &__link {
      text-decoration: none;
      color: $blue-green;
    }
  }
  