.about-us {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  &__title {
    color: $lightMain;
    text-align: center;
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 30px auto;
  }
  &__member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 60px;
    }

    &-photo {
      width: 180px;
      height: 180px;
      border: solid 5px rgba(235, 198, 111, 0.529);
      border-radius: 25%;
      @media all and (min-width: 768px) {
        width: 205px;
        height: 205px;
      }
      @media all and (min-width: 1200px) {
        width: 278px;
        height: 278px;
      }
    }

    &-name {
      font-size: 20px;
      text-align: center;
      line-height: 45px;
      font-weight: 400;
    }

    &-text {
      color: $color-text;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 30px;
      @media all and (min-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }
}

.social-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 124px;
  margin-bottom: 45px;
  color: $mainColor;

  &__icon {
    margin-left: 20px;
  }

  &__link {
    text-decoration: none;
    color: $lightMain;
  }
}

.member1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 442px;
    margin-left: 31px;
    &__text {
      text-align: start;
    }
  }
}
.photo1 {
  @media all and (min-width: 768px) {
    transform: translateY(-15%);
  }
}

.member2 {
  &__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media all and (min-width: 768px) {
    flex-direction: row-reverse;
    margin-bottom: 60px;
    &__div {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 442px;
      margin-right: 31px;
      &--text {
        text-align: end;
      }
    }
  }
  @media all and (min-width: 1200px) {
    margin-right: 138px;
  }
}
