* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --blue-green: #099d8d;
  --black: #000000;
  --cool-grey: #b8b8b9;
  --aqua: #14d9c4;
}
.header {
  background-color: var(--blue-green);
  font-family: "Rubik";
  color: #ffffff;
}
.menu-nav {
  background-color: var(--aqua);
  opacity: 0.9;
}
body {
  width: 320px;
}
.team-photo {
  width: 180px;
  height: 180px;
}
.name-group {
  height: 60px;
  font-size: 16px;
  padding: 20px 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  opacity: 0.95;
}

.list-nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45px;
}
.item-nav a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Rubik";
  font-size: 15px;
  font-weight: 500;
}
